container_commands:
  01_syncdb:    
    command: "django-admin.py syncdb --noinput"
    leader_only: true
  02_createadmin:
    command: "scripts/createadmin.py"
    leader_only: true

option_settings:
  - namespace: aws:autoscaling:launchconfiguration
    option_name: EC2KeyName
    value: elasticbeanstalk
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: zapper/wsgi.py
  - namespace: aws:elasticbeanstalk:application:environment
    option_name: DJANGO_SETTINGS_MODULE
    value: zapper.settings
    option_name: AWS_SECRET_KEY
    value: 5yAxGxbUVL1bugkQuQ5kbYp8USL1R/oCmgXdQMqC
    option_name: AWS_ACCESS_KEY_ID
    value: AKIAJJ3U6QCPRCHORWSQ
  - namespace: aws:elasticbeanstalk:container:python:staticfiles
    option_name: /static/ 
    value: static/ 

